<!DOCTYPE HTML>
<html ng-app="goodsApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/beyond.min.css" rel="stylesheet" type="text/css">
    <!--<link href="../css/demo.css" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="../css/js/jquery.min.js"></script>
    <script type="text/javascript" src="../css/js/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="../css/js/jquery.appear.js"></script>
    <script type="text/javascript" src="../css/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="../css/js/js.js"></script>
    <script type="text/javascript" src="../css/js/angular-1.5.0.min.js"></script>
    <!--<script type="text/javascript" src="../css/js/angular.min.js"></script>-->
    <script type="text/javascript" src="../css/js/angular-route.js"></script>
    <script type="text/javascript" src="../css/js/angular-route-1.5.0.min.js"></script>
    <!--<script type="text/javascript" src="../css/js/iscroll.js"></script>-->
    <script type="text/javascript" src="../css/js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="../js/product.js"></script>
    <script type="text/javascript" src="../../admin/js/models/Pagination.js"></script>
    <script type="text/javascript" src="../../admin/js/models/GoodsVo.js"></script>
    <script type="text/javascript" src="../../admin/js/models/SearchGoodsPaginationVo.js"></script>
    <title>乐跑商城</title>
</head>
<body ng-controller="goodsController">
<article id="main">
    <nav class="nav">
        <ul>
            <li class="bac"><a href="#"></a></li>
            <li><a href="Vshop.html" class="nav1"><span>我的微店</span></a></li>
            <li><a href="myOrder.html" class="nav2"><span>我的订单</span></a></li>
            <li><a href="#" class="nav3"><span>二维码</span></a></li>
            <li><a href="#" class="nav4"><span>每日签到</span></a></li>
            <li><a href="#" class="nav5"><span>一元夺宝</span></a></li>
            <li><a href="#" class="nav9"><span>天狮微社区</span></a></li>
            <li><a href="jiameng.html" class="nav7"><span>商户加盟</span></a></li>
            <li><a href="games.html" class="nav10"><span>拼图大战</span></a></li>
            <li><a href="#" class="nav8"></a></li>
        </ul>
        <div class="bacBtn"></div>
    </nav>
    <section class="content">
        <header>
            <div class="h38 rel pl10 pr10 bline"><a href="#" id="menu"></a>
                <a href="#" id="cai">商品分类</a></div>
            <nav id="nav"><a
                    ng-repeat="type in productTypeList"
                    ng-click="getGoodsByCata(type)"><span>{{type}}</span></span></a>
            </nav>
        </header>
        <div class=" ovh rel pl10 pr10 mt10">
            <!--轮显图片-->
            <div class="topImg mb10">
                <div id="slider" class="swipe" style="visibility: visible;">
                    <div class="swipe-wrap">
                        <figure>
                            <div class="wrap">
                                <a class="image"
                                   style="background:url(../images/u34.jpg) center no-repeat;background-size: cover;height:100%"> </a>
                            </div>
                        </figure>
                        <figure>
                            <div class="wrap">
                                <a class="image"
                                   style="background:url(../images/u236.jpg) center no-repeat;background-size: cover;height:100%"> </a>
                            </div>
                        </figure>
                        <figure>
                            <div class="wrap">
                                <a class="image"
                                   style="background:url(../images/u237.jpg) center no-repeat;background-size: cover;height:100%"> </a>
                            </div>
                        </figure>
                        <figure>
                            <div class="wrap">
                                <a class="image"
                                   style="background:url(../images/u238.jpg) center no-repeat;background-size: cover;height:100%"> </a>
                            </div>
                        </figure>
                    </div>
                </div>
                <nav>
                    <ul id="position" style="display:block">
                        <li class="on"></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="loading-container">
            <div class="loading-progress">
                <div class="rotator">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator">
                                <div class="rotator colored">
                                    <div class="rotator colored"></div>
                                    <div class="rotator"></div>
                                </div>
                                <div class="rotator colored"></div>
                            </div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
        </div>

        <!--以下是页面内容-->
        <div class="p10" infinite-scroll="pageProduct()" infinite-scroll-distance="1">
            <ul class="inline_box pro" ng-repeat="product in products">
                <li class="inline_two mb4 bd1"><a href="pro_view.html"><img
                        src="../images/A010_00.jpg"
                        alt=""
                        class="pct100 p5"></a>
                    <h4>{{product.goodsname}}</h4>
                    <p class="price cr">{{product.sellingprice}}</p>
                </li>
                <li class="inline_two bd1"><a href="pro_view.html"><img
                        src="../images/A011_00.jpg" alt=""
                        class="pct100 p5"></a>
                    <h4>{{product.goodsname}}</h4>
                    <p class="price cr">{{product.sellingprice}}</p>
                </li>
            </ul>
        </div>
        <!--以下是页脚内容-->
        <footer>Copyright 2016 HappyRun All rights reserved</footer>
    </section>
</article>
<script src="../css/js/swipe.js"></script>
<script>
    var slider =
            Swipe(document.getElementById('slider'), {
                auto: 3000,
                continuous: true,
                callback: function (pos) {
                    var i = bullets.length;
                    while (i--) {
                        bullets[i].className = ' ';
                    }
                    bullets[pos].className = 'on';
                }
            });
    var bullets = document.getElementById('position').getElementsByTagName('li');

</script>
</body>
</html>
