<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>添加产品</title>
</head>

<body ng-controller="addproductctrl">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<div class="widget">
				<div class="widget-header bordered-bottom bordered-palegreen">
					<span class="widget-caption">添加产品</span>
				</div>
				<div class="widget-body">
					<div>
						<div class="form-horizontal form-bordered">
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> *产品名称
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入产品名称"
										ng-model="newproductVo.productname" ng-change="check()">
									<div style="margin-top: 5px; color: red"
										ng-bind="productnameMsg"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 产品类型 </label>
								<div class="col-sm-10">
									<p type="text" class="form-control" placeholder="请输入产品类型"
										ng-click="preEditProductType()">{{newproductVo.producttypenames}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> *产品货币
								</label>
								<div class="col-sm-10">
									<select class="form-control" ng-model="currencySelected"
										ng-change="selectChange()"
										ng-options="a.currency for a in currencys">
									</select>
								</div>
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"></label>
								<div class="col-sm-10">
									<div style="margin-top: 5px; color: red" ng-bind="currencyMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> *销售单价
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入销售单价"
										ng-model="newproductVo.price" ng-change="check()" >
									<div style="margin-top: 5px; color: red" ng-bind="priceMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 产品单位
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入产品单位"
										ng-model="newproductVo.unit" ng-change="check()" ng-init="newproductVo.unit='件'">
									<div style="margin-top: 5px; color: red" ng-bind="unitMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 产品净重
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入产品净重"
										ng-model="newproductVo.netweight" ng-change="check()" ng-init="newproductVo.netweight=0">
									<div style="margin-top: 5px; color: red" ng-bind="netweightMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 产品规格
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入产品规格"
										ng-model="newproductVo.specification" ng-change="check()" ng-init="newproductVo.specification=0">
									<div style="margin-top: 5px; color: red"
										ng-bind="specificationMsg"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 初始库存
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入初始库存"
										ng-model="newproductVo.stock" ng-change="check()" ng-init="newproductVo.stock=0">
									<div style="margin-top: 5px; color: red" ng-bind="stockMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 供应商备注
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="供应商备注"
										ng-model="newproductVo.remark">
									<div style="margin-top: 5px; color: red"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> 产品描述 </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入产品描述"
										ng-model="newproductVo.description">
									<div style="margin-top: 5px; color: red"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-1">

									<div style="padding: 10px" class="btn btn-palegreen"
										ngf-select="" ngf-multiple="true"
										ngf-change="addImage($files)" ngf-max-size="512000"
										ngf-accept="'image/*'" accept="image/*">上传图片</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-2">
									<div style="margin-top: 5px; color: red" ng-bind="imgMsg">
									</div>
								</div>
							</div>
							<div class="form-group" style="border-top: 1px solid white">
								<label for="inputEmail3"
									class="col-sm-2 control-label no-padding-right"> </label>
								<div class="col-sm-10">
									<div class="col-sm-4" ng-repeat="image in imageList">
										<div class="databox databox-graded">
											<div class="databox-left no-padding">
												<img ng-src="/usale{{image}}"
													style="width: 65px; height: 65px;">
											</div>
											<div class="databox-right padding-top-20 bg-whitesmoke">
												<div class="databox-stat orange radius-bordered">
													<i class="stat-icon glyphicon glyphicon-remove"
														ng-click="deleteImage($index);"> </i>
												</div>
												<div class="databox-text darkgray"></div>
												<div class="databox-text darkgray"></div>
											</div>
										</div>
									</div>
									<div class="col-sm-4" ng-repeat="file in fileList">
										<div class="databox databox-graded">
											<div class="databox-left no-padding">
												<img ngf-src="file" style="width: 65px; height: 65px;">
											</div>
											<div class="databox-right padding-top-20 bg-whitesmoke">
												<div class="databox-stat orange radius-bordered">
													<i class="stat-icon glyphicon glyphicon-remove"
														ng-click="deleteAddImage($index);"> </i>
												</div>
												<div class="databox-text darkgray">{{file.name}}</div>
												<div class="databox-text darkgray"></div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div>
								<div class="form-group" style="margin-top: -10px">
									<div class="col-sm-offset-2 col-sm-1">
										<button type="submit" class="btn btn-palegreen"
											ng-click="addProduct()">确认</button>
									</div>
									<div class="col-sm-1">
										<button type="submit" class="btn btn-palegreen"
											ng-click="back()">取消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>