<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>商品管理</title>
</head>

<body ng-controller="editProductCtrl">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<div class="widget">
				<div class="widget-header bordered-bottom bordered-palegreen">
					<span class="widget-caption">修改商品</span>
				</div>
				<div class="widget-body">
					<div>
						<div class="form-horizontal form-bordered">
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> *商品名称
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入商品名称"
										   ng-model="goodsVo.goodsname">
									<div style="margin-top: 5px; color: red"
										 ng-bind="productnameMsg"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> 商品类别 </label>
								<div class="col-sm-10">
									<p type="text" class="form-control" placeholder="请输入商品类别"
									   ng-click="preEditProductType()">{{goodsVo.catagoryname}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> *价格
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入价格"
										   ng-model="goodsVo.sellingprice">
									<div style="margin-top: 5px; color: red" ng-bind="priceMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> 商品库存
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入商品库存"
										   ng-model="goodsVo.stock">
									<div style="margin-top: 5px; color: red" ng-bind="unitMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> 商品成本
								</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入商品成本"
										   ng-model="goodsVo.price">
									<div style="margin-top: 5px; color: red" ng-bind="netweightMsg">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									   class="col-sm-2 control-label no-padding-right"> 商品描述 </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="请输入商品描述"
										   ng-model="goodsVo.goodsdesc">
									<div style="margin-top: 5px; color: red"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-1">
									<div style="padding: 10px" class="btn btn-palegreen"
										ngf-select="" ngf-multiple="true"
										ngf-change="addImage($files)" ngf-max-size="512000"
										ngf-accept="'image/*'" accept="image/*" ng-blur="check()">上传图片</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-2">
									<div style="margin-top: 5px; color: red" ng-bind="imgMsg">
									</div>
								</div>
															</div>
								<div class="form-group" style="border-top: 1px solid white">
									<label for="inputEmail3"
										class="col-sm-2 control-label no-padding-right"> </label>
									<div class="col-sm-10">
										<div class="col-sm-4" ng-repeat="image in imageList">
											<div class="databox databox-graded">
												<div class="databox-left no-padding">
													<img ng-src="{{image}}"
														style="width: 65px; height: 65px;">
												</div>
												<div class="databox-right padding-top-20 bg-whitesmoke">
													<div class="databox-stat orange radius-bordered">
														<i class="stat-icon glyphicon glyphicon-remove"
															ng-click="deleteImage($index);"> </i>
													</div>
													<div class="databox-text darkgray" style="display: inline;">{{image.imageName}}</div>
													<div class="databox-text darkgray"></div>
												</div>

											</div>
										</div>
										<div class="col-sm-4" ng-repeat="file in fileList">
											<div class="databox databox-graded">
												<div class="databox-left no-padding">
													<img ngf-src="file" style="width: 65px; height: 65px;">
												</div>
												<div class="databox-right padding-top-20 bg-whitesmoke">
													<div class="databox-stat orange radius-bordered">
														<i class="stat-icon glyphicon glyphicon-remove"
															ng-click="deleteAddImage($index);"> </i>
													</div>
													<div class="databox-text darkgray">{{file.name}}</div>
													<div class="databox-text darkgray"></div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div>
									<div class="form-group" style="margin-top: -10px">
										<div class="col-sm-offset-2 col-sm-1">
											<button type="submit" class="btn btn-palegreen"
												ng-click="editProduct()">确认</button>
										</div>
										<div class="col-sm-1">
											<button type="submit" class="btn btn-palegreen"
												ng-click="back()">取消</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>